#navbar {
    position: fixed;
    width: 100%; 
    text-align: center;
}

#navbar li {
    display: inline;
}


body {
    font-family: georgia;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #000;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
  }
  
  h1 {
    font-family: georgia;
    font-size: 6rem;
    color: white;
  }
  
  h2 {
    font-family: georgia;
    font-size: 1.5rem;
    font-style: italic;
    color: white;
  }